.team {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  z-index: 50;
}
.team > img {
  height: 0;
  width: 0;
}
.goalsTeam {
  z-index: 100;
}
.bgBlob {
  position: relative;
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 1;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
