.match {
  position: relative;
  height: 100vh;
  width: 100vw;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  user-select: none;
  background-color: white;
}
/* venue title styles */
.venue {
  position: absolute;
  right: 2.5vw;
  top: 2vh;
  font-size: 2rem;
  font-weight: 100;
  z-index: 51;
}
.goalsTeam {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25vw;
  z-index: 100;
  mix-blend-mode: difference;
  color: white;
}
.goalsTeam > h5 {
  font-size: 1.3rem;
}
.goalsTeam > h6 {
  font-size: 1.1rem;
}
.blobs {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  z-index: 26;
  filter: blur(75px);
}
.dateTime {
  position: absolute;
  bottom: 5vh;
  z-index: 50;
  opacity: 0.75;
  display: grid;
  place-items: center;
}
.elapsedTime {
  padding: 1vh;
}
.date > span {
  margin-right: 0.5vw;
  opacity: 0.5;
  font-family: "Playground";
  font-size: 1vw;
}
