:root {
  font-family: "Mori ExtraLight";
  letter-spacing: 0.1ch;
  --in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
  --out-expo: cubic-bezier(0.16, 1, 0.3, 1);
  --menu-blue: rgba(0, 121, 242, 0.2);
}

@font-face {
  font-family: "Playground";
  src: url("../fonts/PPPlayground-Thin.otf") format("opentype");
}

@font-face {
  font-family: "Mori Regular";
  src: url("../fonts//PPMori-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Mori ExtraLight";
  src: url("../fonts/PPMori-Extralight.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  width: 100vw;
}
main {
  background-color: white;
  position: relative;
  height: 100vh;
  width: 100vw;
}
