.team {
  position: relative;
  height: 100%;
  width: 50%;
  background-color: white;
  display: grid;
  place-items: center;
  z-index: 50;
}
.team > img {
  height: 0;
  width: 0;
}
/* .blur {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  filter: blur(40px);
  display: grid;
  place-items: center;
  transform-origin: 50% 50%;
  z-index: 50;
} */
.goalsTeam {
  z-index: 100;
}
.bgBlob {
  position: relative;
  width: 60%;
  aspect-ratio: 1/1;
  border-radius: 50%;
  opacity: 1;
  /* overflow: hidden; */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
}
