.loading {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  background-color: rgba(247, 197, 197, 0.434);
  backdrop-filter: blur(5px);
}
.loadingTitle {
  font-size: 10vw;
  font-family: "Playground";
  font-display: block;
  text-transform: capitalize;
  font-weight: 100;
}
