.selectBtn {
  position: absolute;
  left: 2.5vw;
  top: 2.5vh;
  font-size: 0.9rem;
  z-index: 50;
  text-wrap: nowrap;
  cursor: pointer;
  z-index: 100;
}
.selectBtn > span {
  position: absolute;
  mix-blend-mode: difference;
  color: black;
  opacity: 0;
  transition: opacity 500ms var(--in-out-cubic);
}
.visible {
  opacity: 1 !important;
}
/* menu styles */
.menu {
  position: fixed;
  left: 0px;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: var(--menu-blue);
  color: rgba(0, 0, 0, 0.834);
  backdrop-filter: blur(50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  z-index: 99;
  user-select: none;
}
.title {
  font-family: "Playground";
  font-size: 15vw;
  font-style: italic;
  font-weight: 500;
  color: black;
}
.fixtureArea {
  height: 55vh;
  width: 75vw;
  margin-bottom: 5vh;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}
.fixture {
  width: fit-content;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5vw;
  cursor: pointer;
  padding: 5px;
}
